<DOCTYPE! html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul class="nav">
      <li class="nav"><a href="/">Home</a></li>
    </ul>
    <div class="main">
    <h1>The Caesar Cipher</h1>
  </br>
    <form>
      <p>Enter text to shift: <input type='text' name='word' /></p>
      <p>Enter number to shift by: <input  type='number' name='shift' /></p>
      <input class='button' type='submit' value='Encrypt' name='mode'/><input class='button' type='submit' value='Decrypt' name='mode'/>
    </form>
    </br>
    <p><strong>Result: </strong><%= @result %></p>
    </div>
  </body>
</html>
