<DOCTYPE! html>
<html>
  <head>
    <title>IP Locator</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul class="nav">
      <li class="nav"><a href="/">Home</a></li>
    </ul>
    <div class="main">
    <h1>Your IPv6 address is: <%= request.ip %></h1>
  </br>
  </br>
    <h1><span>You're located in: </span><span>location</span></h1>
  </br>
  </br>
    <p>This is an explanation line.</p>
  </body>
</html>
