<html>
  <head></head>
  <body>
    <p>
      Guess a number between 1-100 </br>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
    <%= message %>
    </p>
  </body>
</html>
