<html>
  <head>
    <style>
      .message {
        background-color: <%= $background %>;
      }
      h1 {
        font-family: Lato;
        font-size: 18px;
      }
      body {
        text-align: center;
        height: auto;
      }
      .container {
        width: 30%;
        margin: auto;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Guess a number between 1-100 </br>
      </h1>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <p class="message">
        <%= message %>
      </p>
      <p>
        You have <%= $remaining_guesses %> guesses remaining.
      </p>
    </div>
  </body>
</html>
