h1 {
  font-family: Lato;
  font-size: 32px;
}

p {
  font-family: Lato;
}

body {
  text-align: center;
  margin-top: 10%;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  font-size: 18px;
  font-style: strong;
  background-color: gray;
  color: white;
}

.button:hover {
  background-color: lightgray;
}
