h1 {
  font-family: Lato;
  font-size: 32px;
}

p {
  font-family: Lato;
}

a {
  color: black;
  font-family: Lato;
}

input {
  text-align: center;
}

ul .nav {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

li .nav {
  float:left;
}

a .nav {
  text-decoration: none;
}

li a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.main {
  text-align: center;
  margin: 5% 15% 0 15%;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  font-size: 18px;
  font-style: strong;
  background-color: gray;
  color: white;
}

.button:hover {
  background-color: lightgray;
}

.gameboard {
  width: 75%;
  margin: auto;
  margin-top: 5%;
}
