<DOCTYPE! html
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>The Caesar Cipher</h1>
  </br>
    <form>
      <p>Enter text to shift: <input type='text' name='word' /></p>
      <p>Enter number to shift by: <input  type='number' name='shift' /></p>
      <input class='button' type='submit' value='Encrypt'/>
    </form>
    </br>
    <p><strong>Result:</strong> begin<%= $result %>end</p>
  </body>
</html>
